<!DOCTYPE html>
<html>
<title>Originals</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
</style>
<body>

<div class="w3-content" style="max-width:1500px">

  <header class="w3-container w3-xlarge w3-padding-24">
    <h2>ORIGINALS</h2>
  </header>

  <div class="w3-row">
    <div class="w3-half">
      <img src="racoon.jpg" title="Racoon" alt="Racoon" style="width:408px;height:306px">
        <img src="underwater.jpg" title="Underwater" alt="Underwater" style="width:400px;height:300px">
    </div>

    <div class="w3-half">
        <img src="4201.jpg" title="Four Twenty Three" alt="Four Twenty One" style="width:336px;height:252px">
        <img src="4202.jpg" title="Four Twenty Two" alt="Four Twenty Two" style="width:336px;height:252px">
        <img src="4203.jpg" title="Four Twenty Three" alt="Four Twenty Three" style="width:336px;height:252px">
    </div>

<div class="w3-half">
      <img src="lauren.jpg" title="Lauren" alt="Lauren" style="width:336px;height:252px">
    </div>

 <div class="w3-half">
        <img src="danielle.jpg" title="Danielle" alt="Danielle" style="width:250px;height:445px">
    </div>

<div class="w3-half">
        <img src="katie n limbo.png" title="KandL" alt="KandL" style="width:250px;height:445px">
        <img src="limbo.jpg" title="Limbo" alt="Limbo" style="width:336px;height:252px">
    </div>

<div class="w3-half">
       <img src="auzzy.png" title="Auzzy" alt="Auzzy" style="width:250px;height:445px">
    </div>

<div class="w3-half">
        <img src="better lauren.jpg" title="Lauren Jauregui" alt="Lauren Jauregui" style="width:320px;height:214px">
    </div>

    <div class="w3-half">
        <img src="noah and amber.jpg" title="St Patricks" alt="St Patricks" style="width:336px;height:252px">
    </div>

    <div class="w3-half">
       <img src="kail4.png" title="No Wine" alt="No Wine" style="width:250px;height:445px">
        <img src="kail5.png" title="Wine" alt="Wine" style="width:214px;height:379px">
    </div>


  </div>
</div>
