<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

html,body,h1,h2 {font-family: "Raleway", Arial, sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>
<h1>3D Modelling, Intermediate CSS, Writing Assignment</h1>
<h2>Pokémon Essentials Battle</h2>

<iframe width="560" height="315" 
  src="https://www.youtube.com/embed/vvbfugtvs2A" 
  frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
  </iframe>

<div class="footer">
    <div class="w3-container w3-theme-l1">
      <p>0583757</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
    </div>

</body>
</html>
