<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  margin-left:40px;
  margin-right:40px;
}
.w3-bar,h1,button {font-family: "Raleway", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

table {
    border-collapse: collapse;
    font-family: "Raleway", sans-serif;
    width: 100%;
    margin-left:20px;
    margin-right:20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
</style>
<body>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>ISP</h1>
      <h5 class="w3-padding-32">Internet service providers (ISPs) provides access to the Internet so that it can be used. The providers can be organized in various categories, including commercial, privately/community owned, and non-profit. The services include access, transit, hosting, and registration of domain name.</h5>

<table class="center">
  <tr>
    <th>Title</th>
    <th>What it does</th> 
    <th>What it is (examples)</th>
  </tr>
  <tr>
    <td>Access providers ISP</td>
    <td>Provides technologies to connect users to network</td>
    <td>
    <ul>
  <li>Telephone/dial-up</li>
  <li>Wi-Fi/cellular service</li>
</ul>  
</td>
  </tr>
  <tr>
    <td>Mailbox providers</td>
    <td>Provides servers to send, receive, accept, and store emails</td>
    <td>
    <ul>
  <li>Yahoo! mail</li>
  <li>Outlook</li>
  <li>Gmail</li>
</ul> 
</td>
  </tr>
  <tr>
    <td>Hosting ISP</td>
    <td>Provide email, web-hosting, or online storage services</td>
    <td>
    <ul>
  <li>iCloud</li>
  <li>Dropbox</li>
  </ul>
  </td>
  </tr>
   <tr>
    <td>Transit ISP</td>
    <td>Service of allowing traffic to cross a computer network</td>
    <td>
    <ul>
   <li>Connects to a smaller ISP to larger ISP</li>
   </ul>
   </td>
  </tr> 
  <tr>
    <td>Virtual ISP (wholesale ISP)</td>
    <td>Purchases services from another ISP</td>
    <td>    
    <ul>
  <li>Mobile virtual network operators,</li>
  <li>competitive local exchange carriers </li>
  </ul>
  </td>
  </tr>
  <tr>
    <td>Free ISP</td>
    <td>Provide service free of charge </td>
    <td>Like commercial television, it displays advertisements while the user is connected </td>
  </tr>
  <tr>
    <td>Wireless ISP</td>
    <td>ISP with a network based on wireless networking</td>
    <td>Wi-Fi</td>
  </tr>
</table>

      <p class="w3-text-grey">
<p><b>Law Enforcement</b><br>
In some countries, ISPs are required legally to allow law enforcement agencies to monitor information sent and received by the ISP, or even store the information and browser history of the user and allow access to the government if required. Communications Assistance for Law Enforcement Act (CALEA) in the U.S., and Investigatory Powers Act 2016 in the U.K.</p>

<p><b>History</b><br>
The Internet was first created as a network for government communication between research centres and universities. It was gearing up to go public in the late 1980s to be used commercially. In 1995, after 4 years of restrictions on the World Wide Web (www), those restrictions were lifted and everyone was free to use the Internet as they pleased.<br>
The first ISPs were established in the United States and in Australia. The World in Brookline, Massachusetts became the first commercial ISP in the States, and the first customer was served near the end of 1989.</p>

<p><b>What/who does it affect?</b><br>
It affects Internet users and corporations, along with law enforcement agencies.<br> 
Internet users, because it is their activity being monitored, and corporations because they are doing the monitoring.<br>
The users are doing their shopping online on their phones and on their computers, which sometimes share their information and browsing data, and then when they go to browse through social media or other sites, ads pop up in the corner with what they were shopping for, or something related. This tempts them into possibly purchasing another item, therefore the seller will be getting ad revenue and maybe the money from a purchase. The site on which the ad was displayed will get money from the seller to post the ad, so the only person losing money is the user.<br> 
Law enforcement agencies are affected by the users, because they monitor what the users are doing and have to take their own time to do that. They are also affected by the government because they have to report any issues to them.</p>

<p><b>Pros/Cons</b><br>
Pro to the current law - It’s easier to find things that a user may want<br>
Con to the current law - Corporations have access to everything you’re doing online, and they can follow you and create an algorithm based on your daily usage of sites and social media and find which would be best to try and sell to you (users), which in itself is illegal, but there are loopholes in the current law that allows it.</p>

<p><b>What should the law be?</b><br>
The law should be the same, but should be properly enforced. Most of the actual ISP laws are understandable in allowing law enforcement access to browser history if necessary - especially in legal cases - but corporations being allowed to monitor our activity to sell their stuff should not be allowed. Under the law, it is not, but they still do it.<br>
The pros and cons would be switched, and the same people would be affected.</p></p>
    </div>
  </div>
</div>
