<!DOCTYPE html>
<html>
<title>Assignment 2</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  margin-left:40px;
  margin-right:40px;
}
.w3-bar,h1,button {font-family: "Raleway", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

    <div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Safe Harbour</h1>

      <p class="w3-text-grey">
<p>Presentation of a regulation that says specific conduct will be not allowed to violate a given rule. Usually connected to a vaguer standard. Unsafe harbours, on the other hand, outlines conduct that will violate the rule (U.S., E.U., India).</p>
    </div>
  </div>
</div>
