<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  margin-left:40px;
  margin-right:40px;
}
.w3-bar,h1,button {font-family: "Raleway", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

table {
    border-collapse: collapse;
    font-family: "Raleway", sans-serif;
    width: 100%;
    margin-left:20px;
    margin-right:20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
</style>
<body>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Safe Harbour</h1>
      <h5 class="w3-padding-32"><p><i>Streaming</i>: generally video (but also audio) content compressed and sent over the Internet and is able to be played immediately, rather than being saved to a hard drive<br>
<i>Piracy</i>: unlicensed selling/distribution/copying of works in copyright<br>

In relation to ISP law, it’s part of what is used to decide what ads and suggestions your browser will give to you.</h5>
</div>

<p class="w3-text-grey">
    <b>What/who does it affect?</b><br>
Streaming affects the user positively because they are getting the content they want without having to pay for it, but affects the creator negatively because they are no longer getting royalties or revenue from their work.<br>
The site the user is streaming on will most likely make some money, because they will probably display ads either before the video, or somewhere on the site.</p></p>

<table class="center">
  <tr>
    <th>Title</th>
    <th>What it does</th> 
    <th>What it is (examples)</th>
  </tr>
  <tr>
    <td>Access providers ISP</td>
    <td>Provides technologies to connect users to network</td>
    <td>
    <ul>
  <li>Telephone/dial-up</li>
  <li>Wi-Fi/cellular service</li>
</ul>  
</td>
  </tr>
  <tr>
    <td>Mailbox providers</td>
    <td>Provides servers to send, receive, accept, and store emails</td>
    <td>
    <ul>
  <li>Yahoo! mail</li>
  <li>Outlook</li>
  <li>Gmail</li>
</ul> 
</td>
  </tr>
  <tr>
    <td>Hosting ISP</td>
    <td>Provide email, web-hosting, or online storage services</td>
    <td>
    <ul>
  <li>iCloud</li>
  <li>Dropbox</li>
  </ul>
  </td>
  </tr>
   <tr>
    <td>Transit ISP</td>
    <td>Service of allowing traffic to cross a computer network</td>
    <td>
    <ul>
   <li>Connects to a smaller ISP to larger ISP</li>
   </ul>
   </td>
  </tr> 
  <tr>
    <td>Virtual ISP (wholesale ISP)</td>
    <td>Purchases services from another ISP</td>
    <td>    
    <ul>
  <li>Mobile virtual network operators,</li>
  <li>competitive local exchange carriers </li>
  </ul>
  </td>
  </tr>
  <tr>
    <td>Free ISP</td>
    <td>Provide service free of charge </td>
    <td>Like commercial television, it displays advertisements while the user is connected </td>
  </tr>
  <tr>
    <td>Wireless ISP</td>
    <td>ISP with a network based on wireless networking</td>
    <td>Wi-Fi</td>
  </tr>
</table>

<p class="w3-text-grey">
<b>Pros/Cons</b>
Pros to the current law – saving an artist, filmmaker, etc. money that they put into their craft<br>
Cons to the current law – other people who can’t otherwise watch or listen to something technically can’t anyways, because it’s illegal</p>

<b>What should the law be?</b>
Streaming things should be legal, because the person isn’t the pirate – they didn’t get the content and they didn’t sell it. If they download it and redistribute it, then that’s another story, but if they’re just trying to watch a show online because they can’t access it otherwise, it should be legal.<br>
More corporations should begin to just put things up to stream, but put ads throughout the content – if it is video – so that they can still get ad revenue and people don’t have to stream illegally (an example of one that does this is MTV).<br>
Piracy, on the other hand, should remain illegal to some extent. If the pirate rips a movie or a song/album from an independent artist who wasn’t making much money to begin with, then the consequences should be more severe if caught than if they ripped a movie or a song/album from a big-selling movie company or a big-brand artist or band. The reason for this is because the only issue with piracy truthfully is the money – people just want their money and if a pirate can make a little bit of money from an album that is selling hundreds of thousands of copies and is making the artist millions, then that should be fine.</p></p>

    </div>
  </div>
</div>
